<div class="container">
    <div class="col-md-12">
        <h1 class="text-center mt-5 mb-5"><b>WELCOME to PSCA Chat Bot</b></h1>
        <ng-container *ngFor="let message of messages">
            <div class="message"
                [ngClass]="{'from': message.author==='bot', 'to': message.author==='user'}">
                {{ message.content }}
            </div>
        </ng-container>
    </div>
    <div class="col-md-12">
        <label *ngIf="messages.length === 0; else dialogInfo" for="nameField">TYPE HERE</label>
        <input [(ngModel)]="value" type="text" (keyup.enter)="sendMessage()" class="form-control mt-2">
        <button class="btn btn-primary mt-2" (click)="sendMessage()">Ask AI</button>
        <ng-template #dialogInfo><span style="float: right; margin-bottom: 5px;">Total Messages: {{ messages.length }}</span></ng-template>
    </div>
</div>